In [26]:
!pip install -U -q PyDrive 
  
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials 
  

auth.authenticate_user() 
gauth = GoogleAuth() 
gauth.credentials = GoogleCredentials.get_application_default() 
drive = GoogleDrive(gauth)


link = 'https://drive.google.com/file/d/1U7dejaz0a6wrtrk3nabkozWeQycvzcY7/view?usp=sharing'
  
import pandas as pd 
pd.options.mode.chained_assignment = None  
  
id = link.split("/")[-2] 
  
downloaded = drive.CreateFile({'id':id})  
downloaded.GetContentFile('1999.csv.bz2')
data_1999 = pd.read_csv('1999.csv.bz2', encoding='latin-1') 
print(data_1999.head())

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  1999      1          27  ...       NaN            NaN                NaN
1  1999      1          28  ...       NaN            NaN                NaN
2  1999      1          29  ...       NaN            NaN                NaN
3  1999      1          31  ...       NaN            NaN                NaN
4  1999      1           1  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [27]:
print (data_1999.columns)
print ("Total columns: ",
       len(data_1999.columns))
print ("Total rows: ",
       len (data_1999['Year']))

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')
Total columns:  29
Total rows:  5527884

In [28]:
print (data_1999.describe())

            Year         Month  ...  SecurityDelay  LateAircraftDelay
count  5527884.0  5.527884e+06  ...            0.0                0.0
mean      1999.0  6.564378e+00  ...            NaN                NaN
std          0.0  3.434520e+00  ...            NaN                NaN
min       1999.0  1.000000e+00  ...            NaN                NaN
25%       1999.0  4.000000e+00  ...            NaN                NaN
50%       1999.0  7.000000e+00  ...            NaN                NaN
75%       1999.0  1.000000e+01  ...            NaN                NaN
max       1999.0  1.200000e+01  ...            NaN                NaN

[8 rows x 25 columns]

In [29]:
data_1999_reduced = data_1999[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled','Diverted']]
print("Total columns: ",
      len(data_1999_reduced.columns))
print("Total rows: ",
      len(data_1999_reduced['Year']))

Total columns:  23
Total rows:  5527884

In [30]:
data_1999_clean=data_1999_reduced.dropna()
print("Total columns: ",
      len(data_1999_clean.columns))
print("Total rows: ",
      len(data_1999_clean['Year']))

Total columns:  23
Total rows:  5360018

In [31]:
difference=len(data_1999_reduced['Year'])-len(data_1999_clean['Year'])
print('Rows removed: ',difference)
print('Percetange of original data removed: ',format((difference/len(data_1999_reduced)), '.2%'))

Rows removed:  167866
Percetange of original data removed:  3.04%

In [32]:
data_1999_clean.head()

   Year  Month  DayofMonth  DayOfWeek  ...  TaxiIn  TaxiOut  Cancelled  Diverted
0  1999      1          27          3  ...       3        9          0         0
1  1999      1          28          4  ...      19       10          0         0
2  1999      1          29          5  ...       2        8          0         0
3  1999      1          31          7  ...       6        8          0         0
4  1999      1           1          5  ...      11        8          0         0

[5 rows x 23 columns]

In [33]:
column_names=list(data_1999_clean)
print(column_names)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted']

In [34]:
import random as r
random_num=[]
for i in range (0, 1000):
  random_num.append(r.randrange(0,len(data_1999_clean)))

print(random_num[:10])
print('Length of random_num', len(random_num))

[4119340, 3652544, 4738554, 5015475, 1831121, 2969246, 94311, 916011, 566228, 4362183]
Length of random_num 1000

In [35]:
random1000=[column_names]
for j in random_num:
    row=list(data_1999_clean.iloc[j])
    random1000.append(row)
print(random1000[:5])
print("/n")
print('Sample data rows:', len(random1000))

[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted'], [1999, 10, 3, 7, 1447.0, 1440, 1540.0, 1540, 'WN', 843, 'N61', 53.0, 60.0, 47.0, 0.0, 7.0, 'OKC', 'MCI', 313, 2, 4, 0, 0], [1999, 9, 11, 6, 1507.0, 1515, 1610.0, 1628, 'UA', 2629, 'N932UA', 63.0, 73.0, 47.0, -18.0, -8.0, 'SJC', 'LAX', 308, 3, 13, 0, 0], [1999, 11, 15, 1, 1244.0, 1245, 1513.0, 1512, 'UA', 1766, 'N7262U', 149.0, 147.0, 134.0, 1.0, -1.0, 'MIA', 'IAD', 921, 7, 8, 0, 0], [1999, 12, 16, 4, 1453.0, 1431, 1611.0, 1550, 'UA', 2509, 'N382UA', 78.0, 79.0, 61.0, 21.0, 22.0, 'SMF', 'LAX', 373, 7, 10, 0, 0]]
/n
Sample data rows: 1001

In [36]:
random_df=pd.DataFrame(random1000[1:], columns=column_names)

In [37]:
random_df.head()

   Year  Month  DayofMonth  DayOfWeek  ...  TaxiIn  TaxiOut  Cancelled  Diverted
0  1999     10           3          7  ...       2        4          0         0
1  1999      9          11          6  ...       3       13          0         0
2  1999     11          15          1  ...       7        8          0         0
3  1999     12          16          4  ...       7       10          0         0
4  1999      5           7          5  ...       2       17          0         0

[5 rows x 23 columns]

In [38]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [39]:
random_df.to_csv('randomsample_1999.csv',header=True,sep=',',index=False)

In [40]:
!cp randomsample_1999.csv "drive/My Drive/"